{{extend "template.html"}}
<a name="hakkinda-scroll"> </a>
<div class="page-title">
		<h1 id="sayfa-adi">{{=page_title}}</h1>
</div>
<div class="hakkinda">
	 <div class="hakkinda-liste1">
			 	
				<ul class="ilk-liste">
					<li> Burada dırdır, dert-tasa yok;gırgır şamata var, evinizin rahatlığı var.</li>
					<li> Mutfağımızda sizler için hevesle yemek yapan profesyonel şefler var.</li>
					<li> Sunumlarımız,lezzetlerimiz ve servisimizle sizleri şımartmayı kendimize görev edindik.</li>
					<li> Sağlığınız bizim için değerli, bu yüzden KANSEROJEN ETKİ GÖSTERMEYEN ızgara kullanıyoruz.</li>
					<li> Ürünlerimiz GÜNLÜK hazırlanır, damak tadınız bozulmaz.</li>
					<li> Tüm girdilerimizde üretim SERTİFİKALI ÜRÜNLER tercih ediyoruz.</li>
					<li> Salatalarda kullanılan sebzeleri, DEZENFEKTE ediyoruz.</li>
	</div>
			    </ul>
	<div class="hakkinda-liste2">
				<ul class="ikinci-liste">
					<li> Masaların temizliği için, DEZENFEKTE edilmiş bezler kullanıyoruz.</li>
					<li> Taş sıkma (geleneksel) KALİTELİ ZEYTİNYAĞI tercih ediyoruz.</li>
					<li> El temizliğimiz için, ANTİ-BAKTERİYEL sabun kullanıyoruz..</li>
					<li> İşletmemizdeki servis yerlerini DEZENFEKTE ediyoruz.</li>
					<li> YAĞI çok sık DEĞİŞTİRİYORUZ kanserojen etki oluşmaması için.  </li>
					<li> Mutfak ekipmanı sterilizasyonu için, ENDÜSTRİYEL BULAŞIK MAKİNESİ kullanıyoruz.</li>
					<li> Soğutucu dolaplarımızı, TSE'den kalibrasyonlu termometreler ile kontrol ediyoruz. .</li>
					
			    </ul>
	</div>
</div>
